body,
html {
    height: 100%;
    line-height: 1.8;
}


/* Create a Parallax Effect */

.main-hero-img,
.contact-hero-img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* First image (Logo. Full height) */

.main-hero-img {
    background-image: url('assets/copium.webp');
    min-height: 100%;
}


/* Third image (Contact) */

.contact-hero-img {
    background-image: url("assets/copium.webp");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.w3-tint {
    background-color: rgb(80, 80, 80, .5);
    /* Tint color */
    background-blend-mode: multiply;
}

.w3-row-padding,
.w3-row-padding>.w3-column {
    padding: 0 8px
}

.w3-column {
    float: left;
    width: 100%
}

.w3-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.w3-auto-row {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.w3-sizing.s1 {
    width: 8.33333%
}

.w3-sizing.s2 {
    width: 16.66666%
}

.w3-sizing.s3 {
    width: 24.99999%
}

.w3-sizing.s4 {
    width: 33.33333%
}

.w3-sizing.s5 {
    width: 41.66666%
}

.w3-sizing.s6 {
    width: 49.99999%
}

.w3-sizing.s7 {
    width: 58.33333%
}

.w3-sizing.s8 {
    width: 66.66666%
}

.w3-sizing.s9 {
    width: 74.99999%
}

.w3-sizing.s10 {
    width: 83.33333%
}

.w3-sizing.s11 {
    width: 91.66666%
}

.w3-sizing.s12 {
    width: 99.99999%
}

@media (min-width:601px) {
    .w3-sizing.m1 {
        width: 8.33333%
    }
    .w3-sizing.m2 {
        width: 16.66666%
    }
    .w3-sizing.m3 {
        width: 24.99999%
    }
    .w3-sizing.m4 {
        width: 33.33333%
    }
    .w3-sizing.m5 {
        width: 41.66666%
    }
    .w3-sizing.m6 {
        width: 49.99999%
    }
    .w3-sizing.m7 {
        width: 58.33333%
    }
    .w3-sizing.m8 {
        width: 66.66666%
    }
    .w3-sizing.m9 {
        width: 74.99999%
    }
    .w3-sizing.m10 {
        width: 83.33333%
    }
    .w3-sizing.m11 {
        width: 91.66666%
    }
    .w3-sizing.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .w3-sizing.l1 {
        width: 8.33333%
    }
    .w3-sizing.l2 {
        width: 16.66666%
    }
    .w3-sizing.l3 {
        width: 24.99999%
    }
    .w3-sizing.l4 {
        width: 33.33333%
    }
    .w3-sizing.l5 {
        width: 41.66666%
    }
    .w3-sizing.l6 {
        width: 49.99999%
    }
    .w3-sizing.l7 {
        width: 58.33333%
    }
    .w3-sizing.l8 {
        width: 66.66666%
    }
    .w3-sizing.l9 {
        width: 74.99999%
    }
    .w3-sizing.l10 {
        width: 83.33333%
    }
    .w3-sizing.l11 {
        width: 91.66666%
    }
    .w3-sizing.l12 {
        width: 99.99999%
    }
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1200px) {
    .contact-hero-img {
        background-attachment: scroll;
        min-height: 300px;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: rgb(94, 94, 94);
        background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    /* Tint color */
    .main-hero-img,
    .contact-hero-img {
        background-color: rgb(80, 80, 80, .5);
        /* Tint color */
        background-blend-mode: multiply;
    }
    /*
  body {
    background-color: rgba(190, 190, 190, 0.5); 
    background-blend-mode: multiply;
  }
  */
}


/* Scrollbar theme */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Works on Firefox */

* {
    scrollbar-width: 10px;
    scrollbar-color: #acacac #f1f1f1;
    scrollbar-highlight-color: #888888;
}


/* Track */

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

*::-webkit-scrollbar-thumb {
    background: #acacac;
}


/* Handle on hover */

*::-webkit-scrollbar-thumb:hover {
    background: #888888;
}

.w3-disable-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
}