<head>
</head>

<body>
    <!-- Modal for full size images on click-->
    <div id="playerCard" class="w3-modal w3-black">
        <span class="w3-button w3-large w3-black w3-display-topright" title="Close Player Card" onclick=hidePlayerCard(this)><i class="far fa-window-close fa-2x"></i></span>
        <div class="w3-modal-content w3-center w3-transparent w3-padding-64">
            <div>
                <img id="playerCardImg" class="w3-image w3-animate-zoom w3-sizing s4 m5">
                <p id="playerCardName" class="w3-opacity w3-large"></p>
                <p id="playerCardAge" class="w3-opacity w3-large"></p>
                <p id="playerCardCountry" class="w3-opacity w3-large"></p>
                <p id="playerCardDescription" class="w3-opacity w3-large"></p>
            </div>

            <div>
                <div id="socials-panel">

                </div>
            </div>
        </div>
    </div>
</body>